Package: mars7383.rbxplistspoof
Name: rbxplistspoof
Version: 0.0.2
Architecture: iphoneos-arm
Description: Roblox upgrade prompt bypass made for SW-iOS, if it says 'Upgrade Roblox' (after a while) make sure to 'Reinstall' the tweak in order to apply the patch again!
Maintainer: Mars, fxe
Author: Mars, fxe
Section: Tweaks
Depends: curl, netskao.antiprofilesrevoke, mobilesubstrate (>= 0.9.5000)
